#nav-body-ctrls {
  background-color: #f5f5f5;
  padding: 20px 8px 0;
  font-family: arial;
  /*
  border-bottom: 1px solid #e4e4e4;
  */
}

#nav-body-tabs {
  background: whitesmoke;
  /*
  background: linear-gradient(whitesmoke 75%, rgba(211, 211, 211, 0.5));
  */
  height: 36px;
  font-family: arial;
  overflow: hidden !important;
  min-height: 32px;
  display: flex;
  flex-direction: row;
  max-width: 100vw;
}

#nav-body-views {
  flex: 1
}

.nav-icons {
  fill: #606060!important
  width: 20px !important;
  height: 20px !important;
}
.nav-icons img {
  width: 20px !important;
  height: 20px !important;
}

.nav-icons:hover {
  fill: #000!important
}

#nav-ctrls-back,
#nav-ctrls-forward,
#nav-ctrls-reload {
  height: 20px;
  width: 20px;
  margin-right: 5px
}

/* #nav-ctrls-url{box-shadow:0 0 5px #e4e4e4;border:0;border-radius:2px;height:30px!important;margin-left:8px;font-size:11pt;outline:none;padding-left:45px;color:#b7b7b7;background:url('data:image/svg+xml;utf8,<svg viewBox="0 0 1000 1000" xmlns="http://www.w3.org/2000/svg"><path fill="#fff" stroke="null" d="m619.84227,677.26412c0,-5.81778 -0.83555,-11.51683 -2.44698,-17.15651c-1.61142,-5.58032 -3.34221,-10.50762 -5.073,-14.66318c-1.73079,-4.21492 -4.89396,-9.02349 -9.4895,-14.48508c-4.59555,-5.46159 -7.99744,-9.55778 -10.38474,-12.22921c-2.32761,-2.67143 -6.86348,-6.70825 -13.54791,-12.05111c-6.68443,-5.34286 -10.98156,-8.72667 -12.83172,-10.15143c-1.85015,-1.42476 -6.74411,-4.86794 -14.56251,-10.50762c-7.87808,-5.58032 -12.11553,-8.60794 -12.83172,-9.08286c-3.75999,-0.47492 -9.4895,-0.71238 -17.24822,-0.71238c-12.41394,0 -24.64883,0.83111 -36.70468,2.43397c-12.05585,1.60286 -24.58915,4.57111 -37.59992,8.72667c-13.01076,4.21492 -24.35042,9.55778 -34.07865,16.08794c-9.72823,6.53016 -17.72567,15.19746 -24.05201,26.06127c-6.32634,10.86381 -9.4895,23.15238 -9.4895,36.86572c0,13.06032 2.74539,24.93333 8.23617,35.67841c5.49078,10.74508 12.65267,19.53111 21.42598,26.41746c8.77331,6.88635 18.97901,12.70413 30.55739,17.45333c11.57839,4.80857 23.33582,8.13302 35.15294,10.15143c11.81712,1.95905 23.7536,2.96825 35.69008,2.96825c13.60759,0 26.67804,-1.54349 39.21134,-4.57111c12.53331,-3.02762 24.11169,-7.59873 34.79484,-13.65397c10.68315,-6.05524 19.21773,-14.54445 25.66343,-25.52699c6.38602,-10.92318 9.60887,-23.6273 9.60887,-38.05302l0,0zm-41.12118,-299.97176c0,-13.7727 -1.96952,-28.37651 -5.96824,-43.8708c-3.99872,-15.49429 -9.60887,-30.51365 -16.89012,-45.11746c-7.28125,-14.54445 -17.12885,-26.65492 -29.54279,-36.2127c-12.41394,-9.55778 -26.14089,-14.30698 -41.12118,-14.30698c-9.8476,0 -19.51615,2.25587 -29.00565,6.82698s-17.3079,10.68571 -23.3955,18.34381c-10.80252,13.7727 -16.17393,32.41333 -16.17393,55.92191c0,10.74508 1.19365,22.08381 3.52126,34.07556c2.32761,11.99175 6.02792,23.98349 11.10093,36.0346c5.01332,11.99175 11.10093,22.79619 18.26282,32.35397c7.16189,9.55778 15.9352,17.39397 26.37962,23.44921c10.44442,6.05524 21.7244,9.08286 33.89961,9.08286c8.65395,0 17.72567,-1.89968 27.21518,-5.75841c9.4895,-3.85873 17.18853,-8.90476 23.03741,-15.19746c12.47362,-13.11968 18.68059,-31.64159 18.68059,-55.62508l0,0zm-39.33071,-168.18128l146.57999,0l-48.1637,30.75111l-46.37323,0c17.54663,14.66318 30.79612,30.15746 39.6888,46.48286c8.89268,16.3254 13.36886,34.96603 13.36886,55.92191c0,16.80032 -2.86476,31.87905 -8.59427,45.29556s-12.71235,24.22095 -20.88884,32.53206c-8.17649,8.25175 -16.35298,15.85048 -24.4101,22.73683c-8.05712,6.88635 -14.98028,14.06952 -20.7098,21.49016c-5.72951,7.48 -8.59427,15.1381 -8.59427,23.09302c0,8.37048 3.75999,16.62222 11.22029,24.63651c7.51998,8.01429 16.53203,15.96921 27.03613,23.74603s21.12757,16.38476 31.81072,25.70508s19.75488,21.43079 27.21518,36.3908s11.22029,31.46349 11.22029,49.62921c0,21.19333 -5.72951,41.37746 -17.24822,60.49302c-16.65139,28.43587 -41.18086,49.33238 -73.64809,62.74889c-32.46723,13.41651 -67.44112,20.12476 -104.92167,20.12476c-30.91549,0 -59.80177,-4.80857 -86.65885,-14.48508c-26.85708,-9.67651 -47.02974,-25.70508 -60.63733,-48.08572c-8.41522,-13.7727 -12.65267,-29.02952 -12.65267,-45.82984c0,-18.8781 5.19237,-36.3908 15.63679,-52.41937c10.44442,-16.08794 24.29074,-29.50445 41.65832,-40.19016c30.67676,-19.11556 78.00491,-30.75111 141.98445,-34.96603c-7.51998,-9.55778 -13.07045,-18.10635 -16.71107,-25.70508c-3.64063,-7.59873 -5.4311,-16.1473 -5.4311,-25.70508c0,-9.32032 2.44698,-19.23429 7.40062,-29.74191c-10.80252,0.94984 -18.74028,1.42476 -23.87296,1.42476c-34.67548,0 -63.91986,-11.22 -87.67346,-33.71937c-23.81328,-22.49937 -35.69008,-50.99461 -35.69008,-85.48572c0,-19.11556 4.23745,-37.63746 12.65267,-55.56572c8.41522,-17.92825 20.05329,-33.18508 34.79484,-45.82984c17.78536,-15.37556 39.15166,-26.83302 63.97954,-34.25365c24.82788,-7.48 50.37195,-11.22 76.63221,-11.22l0,0z"/></svg>'),linear-gradient(to right,#699bd8 35px,#fff);background-position:left;background-size:35px 100%;background-repeat:no-repeat;background-color:#fff} */

#nav-ctrls-url {
  box-shadow: 0 0 5px #e4e4e4;
  border: 0;
  border-radius: 2px;
  height: 30px!important;
  margin-left: 8px;
  font-size: 11pt;
  outline: none;
  padding-left: 8px;
  color: #b7b7b7;
  background-color: #fff;
  margin-right: 10px !important;
}

#nav-ctrls-url:focus {
  color: #303030;
  box-shadow: 0 0
}
.nav-tab-item {
  cursor: pointer;
  display: inline-block;
  padding: 10px;
}
.nav-tab-item img {
  width: 25px;
  height: 25px;
  opacity: 0.5;
}
#nav-tabs-add:before {
  content: "+";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 22px;
}
#nav-tabs-add {
  position: relative;
  margin: 5px;
  /*
  fill: #0e8cd0 !important;
  */
  fill: transparent  !important;
}

#nav-tabs-add:hover {
  opacity: 0.6;
  /*
  fill: #000 !important;
  */
}

.nav-tabs-tab {
  border-radius: 0px;
  height: 25px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  /*
  border: 1px solid #dedede;
  */
  border-color: transparent;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  /*
  border-top: 1px solid rgba(0,0,0,0.1);
  border-right: 1px solid rgba(0,0,0,0.1);
  */
  /*
  background: rgba(221, 221, 221, 0.14);
  */
  display: flex;
  flex: 1;
  max-width: 200px;
}

.nav-tabs-tab.active {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-top: 1px solid rgba(0,0,0,0.1);
  border-right: 1px solid rgba(0,0,0,0.1);
  border-left: 1px solid rgba(0,0,0,0.1);
  border-bottom: 1px solid transparent;
  /*
  background: rgba(0,0,0,0.05);
  */
  /*
  border: 1px solid transparent;
  */
}

.nav-tabs-favicon {
  height: 30px;
  /*
  margin: 2px;
  */
  border: none;
}

.nav-tabs-title {
  padding-left: 5px;
  font-style: normal;
  font-weight: 700;
  font-size: 9pt;
  background: #606060
  color: rgba(221, 221, 221, 0.14);
}

.nav-tabs-title:hover {
  color: #000
}

.nav-tabs-close {
  width: 18px !important;
  height: 18px !important;
  margin: 6px;
  margin-left: 2px;
}

.nav-tabs-close:hover {
  fill: #dc143c !important;
}

html,
body {
  background: white;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#wrapper {
  display: flex;
  flex-direction: column;
  flex: 1
}

#nav-body-view-wrapper {
  display: flex;
  flex: 1
}
